@media screen and (min-width: 480px) {
    .spotify-logo {
        display: none;
    }

    .spotify-logo-text {
        display: inline-block;
    }

    .album ul li {
        flex-basis: calc((100%/2) - 10px);
    }



    .side-bar {
        flex-basis: 30%;
    }

    .container-icon figure {
        padding: 5px;


        min-width: 50px;
        max-width: 100px;


    }

    .text-icon {
        display: flex;
    }

    .main {
        flex-basis: 70%;
        height: 90vh;
        border: solid 3px green;
    }
}