@media screen and (min-width: 1024px) {
    @media screen and (min-width: 480px) {
        .spotify-logo {
            display: none;
        }

        .spotify-logo {
            display: none;
        }

        .album ul li {
            flex-basis: calc((80%/6) - 10px);
        }




    }
}