@media screen and (min-width: 480px) {
    .spotify-logo {
        display: none;
    }

    .spotify-logo-text {
        display: inline-block;


    }

    .side-bar {
        flex-basis: 30%;
    }
}